# Day 5: 30 Days of python programming

## LISTS

### Exercises: Level 1

#### Question 1 - 27

In [33]:
# Q1: Declare an empty list
empty_list = []

# Q2: Declare a list with more than 5 items
my_list = ['item1', 'item2', 'item3', 'item4', 'item5', 'item6']

# Q3: Find the length of your list
print(len(my_list))

# Q4: Get the first item, the middle item and the last item of the list
print(f'The first item is {my_list[0]}')
print(f'The middle items are {my_list[2:4]}')
print(f'The last item is {my_list[-1]}')

# Q5: Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Damilare', 27, 79.50, 'singe', 'Akure, Ondo State']

# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Q7: Print the list using print()
print(it_companies)

# Q8: Print the number of companies in the list
print(len(it_companies))

# Q9: Print the first, middle and last company
print(it_companies[0]) # First Company
print(it_companies[3:4]) # Middle Company
print(it_companies[-1]) # Last Company

# Q10: Print the list after modifying one of the companies
it_companies[0] = 'Meta'
print(it_companies)

# Q11: Add an IT company to it_companies
it_companies.append('Adobe')
print(it_companies)

# Q12: Insert an IT company in the middle of the companies list
it_companies.insert(4, 'OpenAI')
print(it_companies)

# Q13: Change one of the it_companies names to uppercase (IBM excluded!)
upper_case = it_companies[1].upper()
print(upper_case)

# Q14: Join the it_companies with a string '#;  '
print(it_companies)
joined_list = '#'.join(it_companies)
print(joined_list)

# Q15: Check if a certain company exists in the it_companies list.
print('Meta' in it_companies)

# Q16: Sort the list using sort() method
it_companies.sort()
print(it_companies)

# Q17: Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

# Q18: Slice out the first 3 companies from the list
it_companies = it_companies[3:]
print(it_companies)

# Q19: Slice out the last 3 companies from the list
it_companies = it_companies[:3]
print(it_companies)

# Q20: Slice out the middle IT company or companies from the list
it_companies = it_companies[1:3:2]
print(it_companies)

# Q21: Remove the first IT company from the list
it_companies = ['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
it_companies.pop(0)
print(it_companies)

# Q22: Remove the middle IT company or companies from the list
it_companies = ['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
del it_companies[4]
print(it_companies)

# Q23: Remove the last IT company from the list
it_companies.pop(-1)
print(it_companies)

# Remove all IT companies from the list
it_companies.clear()
print(it_companies)

# Destroy the IT companies list
del it_companies
print(it_companies)

6
The first item is item1
The middle items are ['item3', 'item4']
The last item is item6
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
['Apple']
Amazon
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Adobe']
['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
GOOGLE
['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
Meta#Google#Microsoft#Apple#OpenAI#IBM#Oracle#Amazon#Adobe
True
['Adobe', 'Amazon', 'Apple', 'Google', 'IBM', 'Meta', 'Microsoft', 'OpenAI', 'Oracle']
['Oracle', 'OpenAI', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon', 'Adobe']
['Meta', 'IBM', 'Google', 'Apple', 'Amazon', 'Adobe']
['Meta', 'IBM', 'Google']
['IBM']
['Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Adobe']
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
[]

NameError: name 'it_companies' is not defined

In [37]:
'''Q26: Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']'''

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
lists = front_end + back_end
print(lists)

# Q27: After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = lists[:]
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### Exercises: Level 2

#### Question 1-10

In [ ]:
'''
The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] '''

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
ages.sort()         # Sort age
print(ages)         # Display sorted age
min_age = min(ages)
print(min_age)      # Diaplay the minimum age
max_age = max(ages)
print(max_age)      # Display the maximum age

# Add the min age and the max age again to the list
ages.append(min_age)    # Add minimum age to the list
ages.append(max_age)    # Add maximum age to the list
print(ages)             # Display ages

# Find the median age (one middle item or two middle items divided by two)
ages.sort()                 # Sort the ages
median = len(ages) // 2     # Find the median index
print(median)               # Display the median index
print(ages[median])         # Display the median age

# Find the average age (sum of all items divided by their number )
average = sum(ages) / len(ages)     # Find the average age
print(average)                      # Display the average age

# Find the range of the ages (max minus min)
range_age = max_age - min_age       # Find the range of the ages
print(range_age)                    # Display the range of the ages

# Compare the value of (min - average) and (max - average), use abs() method
min_average = abs(min_age - average)     # Find the absolute value of min - average
max_average = abs(max_age - average)     # Find the absolute value of max - average
print(min_average)                      # Display the absolute value of min - average
print(max_average)                      # Display the absolute value of max - average

# Q2: Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
middle_country = len(countries) // 2
print(countries[middle_country])

# Q3: Divide the countries list into two equal lists if it is even if not one more country for the first half.
first_half = countries[:middle_country]     # First half of the countries
second_half = countries[middle_country:]    # Second half of the countries
print(first_half)                           # Display the first half of the countries
print(second_half)                          # Display the second half of the countries

# Q4: ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first, second, third, *scandic = countries      # Unpack the first three countries and the rest as scandic countries
print(first)                                    # Display the first country
print(second)                                   # Display the second country
print(third)                                    # Display the third country
print(scandic)                                  # Display the scandic countries

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
6
24
22.75
7
3.75
3.25
Lesotho
['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

## TUPLES

### Exercises: Level 1

### Questions 1 - 5

In [20]:
# Q1: Create an empty tuple
empty_tuple = ()

# Q2: Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ('Mark', 'John', 'Richard')
sisters = ('Deborah', 'Ruth')

# Q3: Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters

#Q4 How many siblings do you have?
print(f"I have {len(siblings)} siblings")

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
parents = ('Ben', 'Monica')
family_members = parents + siblings
print(family_members)

I have 5 siblings
('Ben', 'Monica', 'Mark', 'John', 'Richard', 'Deborah', 'Ruth')