# Day 5: 30 Days of python programming

## Exercises

### Level 1

#### Question 1 - 10

In [33]:
# Q1: Declare an empty list
empty_list = []

# Q2: Declare a list with more than 5 items
my_list = ['item1', 'item2', 'item3', 'item4', 'item5', 'item6']

# Q3: Find the length of your list
print(len(my_list))

# Q4: Get the first item, the middle item and the last item of the list
print(f'The first item is {my_list[0]}')
print(f'The middle items are {my_list[2:4]}')
print(f'The last item is {my_list[-1]}')

# Q5: Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Damilare', 27, 79.50, 'singe', 'Akure, Ondo State']

# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Q7: Print the list using print()
print(it_companies)

# Q8: Print the number of companies in the list
print(len(it_companies))

# Q9: Print the first, middle and last company
print(it_companies[0]) # First Company
print(it_companies[3:4]) # Middle Company
print(it_companies[-1]) # Last Company

# Q10: Print the list after modifying one of the companies
it_companies[0] = 'Meta'
print(it_companies)

# Q11: Add an IT company to it_companies
it_companies.append('Adobe')
print(it_companies)

# Q12: Insert an IT company in the middle of the companies list
it_companies.insert(4, 'OpenAI')
print(it_companies)

# Q13: Change one of the it_companies names to uppercase (IBM excluded!)
upper_case = it_companies[1].upper()
print(upper_case)

# Q14: Join the it_companies with a string '#;  '
print(it_companies)
joined_list = '#'.join(it_companies)
print(joined_list)

# Q15: Check if a certain company exists in the it_companies list.
print('Meta' in it_companies)

# Q16: Sort the list using sort() method
it_companies.sort()
print(it_companies)

# Q17: Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

# Q18: Slice out the first 3 companies from the list
it_companies = it_companies[3:]
print(it_companies)

# Q19: Slice out the last 3 companies from the list
it_companies = it_companies[:3]
print(it_companies)

# Q20: Slice out the middle IT company or companies from the list
it_companies = it_companies[1:3:2]
print(it_companies)

# Q21: Remove the first IT company from the list
it_companies = ['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
it_companies.pop(0)
print(it_companies)

# Q22: Remove the middle IT company or companies from the list
it_companies = ['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
del it_companies[4]
print(it_companies)

# Q23: Remove the last IT company from the list
it_companies.pop(-1)
print(it_companies)

# Remove all IT companies from the list
it_companies.clear()
print(it_companies)

# Destroy the IT companies list
del it_companies
print(it_companies)

6
The first item is item1
The middle items are ['item3', 'item4']
The last item is item6
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
['Apple']
Amazon
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Adobe']
['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
GOOGLE
['Meta', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
Meta#Google#Microsoft#Apple#OpenAI#IBM#Oracle#Amazon#Adobe
True
['Adobe', 'Amazon', 'Apple', 'Google', 'IBM', 'Meta', 'Microsoft', 'OpenAI', 'Oracle']
['Oracle', 'OpenAI', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon', 'Adobe']
['Meta', 'IBM', 'Google', 'Apple', 'Amazon', 'Adobe']
['Meta', 'IBM', 'Google']
['IBM']
['Google', 'Microsoft', 'Apple', 'OpenAI', 'IBM', 'Oracle', 'Amazon', 'Adobe']
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Adobe']
['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
[]

NameError: name 'it_companies' is not defined

In [34]:
'''Q26: Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']'''

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
lists = front_end + back_end
print(lists)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']