# Day 11: 30 Days of python programming

## Exercises

### Python Error Types

In [1]:
# SyntaXError

print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4054762120.py, line 3)

In [3]:
print('hello world')

hello world

In [2]:
# NameError
print(age)

NameError: name 'age' is not defined

In [4]:
age = 25
print(age)

25

In [6]:
# IndexError
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In [7]:
# ModuleNotFoundError
import maths

ModuleNotFoundError: No module named 'maths'

In [8]:
import math

In [9]:
# AttributeError
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [10]:
math.pi

3.141592653589793

In [12]:
# KeyError
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']
users['county']

KeyError: 'county'

In [13]:
users['country']

'Finland'

In [14]:
# TypeError
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
4 + int('3')

7

In [17]:
4 + float('3')

7.0

In [18]:
# ImportError
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [19]:
from math import pow

In [20]:
# ValueError
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [21]:
# ZerroDivisionError
1/0

ZeroDivisionError: division by zero

### Exception Handling/Packing Unpacking

In [53]:
# names = ['Finland', 'Sweden', 'Norway','Denmark','Iceland', 'Estonia','Russia']. Unpack the first five countries and store them in a variable nordic_countries, store Estonia and Russia in es, and ru respectively.

names = ['Finland', 'Sweden', 'Norway','Denmark','Iceland', 'Estonia','Russia']
*first_five, es, ru = names
nordic_countries = first_five
print(nordic_countries)

['Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland']